* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
  }
  
  body {
    overflow-x: hidden;
    font-family: "Cairo", sans-serif;
    scroll-behavior: smooth;
    position: relative;
  }
  
  /* :root {
    --main-color: #fba1a0;
    --main-color: #764095;
    --second-color: #febfb6;
  } */
  :root {

    --main-color: #764095;
    --second-color: #8b58a9;
  }
  
  a {
    color: var(--main-color);
    cursor: pointer;
  }
  /* a:hover {
    color: var(--hover-color);
  } */
  
  i {
    cursor: pointer;
  }


  /* ------------ scroll bar ------------ */

  /* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #764095;
  border-radius: 10px;
}


.ltr {
  direction: ltr !important;
}